html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.6;
}

/* latihan 1 */
.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px; /*suapay ada jarak, ukuran kotak akan berubah */
    box-sizing: border-box; /*supaya ukuran kotak tidak berubah dikasi border box, jdi paddingya yg berubah bukan ukurannya*/
    display: flex; /*biar ke tengah smua tylisan yg dibawah container satu*/
}
.kolom-utama{
    flex: 3; /*biar dia lebih luas, ambil 3 bagian*/
    order: 2; /*biar dia di urutan ke 2, tpi klu cmn kolom utama yg dikasi order dia akan pindah ke kanan aja, krn kelas lain blm dikasi order*/

}
.sidebar-satu{
    flex: 1;
    order: 1; /*biar dia di urutan ke 1, jd dia di kiri*/
}
.sidebar-dua{
    flex: 1;
    order: 3; /*biar dia di urutan ke 3, jd dia di kanan*/

}

/* latihan 2 flex-responsive, kenapa tulisannya gak ikut? */
.container-dua {
    max-width: 800px; /*biar responsive kasi max*/
    margin: 50px auto;
    
}
.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.layanan.satu {
    background-color: cornflowerblue;
}
.layanan.dua {
    background-color: pink;
}
.layanan.tiga {
    background-color: rgb(228, 145, 145);
}

/* latihan 3-galeri */
.container-tiga {
    max-width: 800px; /*walaupun max buat responsive, tpi ttp jelek, mau dibikin klu dibuka di hp baris pertama jadi 2 gambar, dgn cara widthnya img ubh jdi 50%*/
    margin: 50px auto;
    display: flex; /*bikin smua gambar sejajar ditengah2*/
    flex-wrap: wrap; /*biar gambarnya kebawah klu ndak cukup, tpi stelah di wrap gambranya jdi besar lgi kebawah, mknya dikasi width di kelas thumbnail*/
    justify-content: center; /*biar gambarnya di tengah2*/
}
.thumbnail{
    width: 50%; /*biar gambarnya 4 disatu baris, 100% : 4 = 25%, sisanya turun kebawah, pt2: tdinya 25%, tpi diatas dh max, krn mau responsive, di hp jadi 2 gambar dlm 1 baris, mknya ubh jadi 50%*/
}
.thumbnail img{
    width: 100%; /*biar gambarnya memenuhi kotak, jdai gamabrnya mengecil biar bisa sesuaikan dengan webnya*/

}





/* responsive */
@media( min-width: 600px ){
    .container-dua{
    display: flex; /*dicut dri atas buat responsive*/
    justify-content: space-between;
}
    .layanan{
        width: 30%; /*dicut dri atas buat responsive*/
    }
    .thumbnail{
        width: 25%; /*biar gambarnya 4 disatu baris, 100% : 4 = 25%, sisanya turun kebawah, klu di hp jdi 2 gambar dlm 1 baris, klu di laptop jdi 4 gambar dlm 1 baris*/
    }
}
