html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.6;
}

/* latihan 1 */
.container-satu{
    width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px; /*suapay ada jarak, ukuran kotak akan berubah */
    box-sizing: border-box; /*supaya ukuran kotak tidak berubah dikasi border box, jdi paddingya yg berubah bukan ukurannya*/
    display: flex; /*biar ke tengah smua tylisan yg dibawah container satu*/
}
.kolom-utama{
    flex: 3; /*biar dia lebih luas, ambil 3 bagian*/
    order: 2; /*biar dia di urutan ke 2, tpi klu cmn kolom utama yg dikasi order dia akan pindah ke kanan aja, krn kelas lain blm dikasi order*/
    
}
.sidebar-satu{
    flex: 1;
    order: 1; /*biar dia di urutan ke 1, jd dia di kiri*/
}
.sidebar-dua{
    flex: 1;
    order: 3; /*biar dia di urutan ke 3, jd dia di kanan*/

}